My most recent Projects

<div class="news">
  {% if site.projects  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign projects = site.projects | reverse %}
      {% for item in projects limit: site.project_limit %}
        <tr>
          <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
          <td style="padding: 0rem;">
            {% if item.redirect %}
              {% if item.github %}
                <a class="news-title" href="{{ item.redirect }}">
                  <img align="center" class="imgresize ghcard-light" src="{{ 'https://github-readme-stats.vercel.app/api/pin/?username=' | append: item.github.user | append: '&repo=' | append: item.github.repo | append: '&border_radius=20&title_color=2698BA&icon_color=2698BA&text_color=000000&bg_color=EEEEEE&border_color=2A2A2B' }}">
                  <img align="center" class="imgresize ghcard-dark" src="{{ 'https://github-readme-stats.vercel.app/api/pin/?username=' | append: item.github.user | append: '&repo=' | append: item.github.repo | append: '&border_radius=20&title_color=B3FFFF&icon_color=B3FFFF&text_color=A3A3A6&bg_color=2A2A2B&border_color=EEEEEE' }}"/>
                </a>
              {% else %}
                <a class="news-title" href="{{ item.redirect }}">{{ item.title }}</a>
              {% endif %}
            {% else %}
              {% if item.github %}
                <a class="news-title" href="{{ item.url | relative_url }}">
                  <img align="center" class="imgresize ghcard-light" src="{{ 'https://github-readme-stats.vercel.app/api/pin/?username=' | append: item.github.user | append: '&repo=' | append: item.github.repo | append: '&border_radius=20&title_color=2698BA&icon_color=2698BA&text_color=000000&bg_color=EEEEEE&border_color=2A2A2B' }}">
                  <img align="center" class="imgresize ghcard-dark" src="{{ 'https://github-readme-stats.vercel.app/api/pin/?username=' | append: item.github.user | append: '&repo=' | append: item.github.repo | append: '&border_radius=20&title_color=B3FFFF&icon_color=B3FFFF&text_color=A3A3A6&bg_color=2A2A2B&border_color=EEEEEE' }}"/>
                </a>
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No projects so far...</p>
  {% endif %}
</div>
