/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// page size
html, body {
  height: 100%;
}

// Typography
p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  color: var(--global-text-color) !important;
}

katex {
  color: var(--global-text-color) !important;
}

.caption {
  .katex {
    color: var(--global-text-color) !important;
  }
}

fig {
  color: var(--global-theme-color) !important;
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

a, table.table a {
  color: var(--global-unhover-color);
  &:hover {
    color: var(--global-hover-color) !important;
    text-decoration: underline;
  }
  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}

.badge {
  background: var(--global-theme-color) !important;
  color: var(--global-badge-text-color) !important;
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Citation
.citation, .citation-number {
  color: var(--global-theme-color);
}

// base images on the about screen
.imgresize { // phone size
  width: 100%;
}

// default page content
.content-div { // phone size
  margin-left: 0%;
  margin-right: 0%;
}
.content-card {
  background-color: var(--global-card-color) !important;
  border-radius: 1.5rem;
}

// figure columns
.imgfig {
  padding: 0 !important;
}

// Profile
.profile {
  margin-left: 1rem;
  width: 100%;

  .address {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: monospace;
    p {
      display: inline-block;
      margin: 0;
    }
  }
}

// Desktop-only display
@media (min-width: 576px) {
  .imgresize {
    width: 60%;
  }
  .search-button {
    right: 2rem;
  }
  .back-to-top {
    right: 2rem;
  }
  .content-div {
    margin-left: 25%;
    margin-right: 25%;
  }
  .profile {
    width: 30%;
    .address {
      p { display: block; }
    }
  }
  .cv {
    .card {
      margin: .5rem 0rem .5rem 0rem;
    }
  }
  .post {
    .sidebar {
      position: fixed !important;
      top: 20%;
      left:10%;
      width:15% !important;
      background-color: var(--global-card-color) !important;
      border-radius: 1.5rem;
      padding: 1rem !important;
    }
  }
}

.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

// Progress bar
.progress-container {
  width: 100%;
  height: .25rem;
  background: var(--global-bg-color);
  opacity: 0.9;
}

.progress-bar {
  width: 0%;
  height: .25rem;
  background: var(--global-theme-color);
  opacity: 0.9;
}

// Search button

.search-button-icon {
  height: 2rem;
  width: 2rem;
  color: var(--global-theme-color);
  &:hover {
    opacity: 60%;
  }
}

.search-button {
  position: fixed;
  z-index: 999;
  right: .5rem;
  bottom: 7rem;
  padding: 0.5rem;
  border-radius: 100%;
  background: var(--global-code-bg-color);
  border: none;
  cursor: pointer;
}

// back to top button

.back-to-top-icon {
  height: 2rem;
  width: 2rem;
  color: var(--global-theme-color);
  &:hover {
    opacity: 60%;
  }
}

.back-to-top {
  position: fixed;
  z-index: 999;
  right: .5rem;
  bottom: 3.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  background: var(--global-code-bg-color);
  border: none;
  cursor: pointer;
}

// zooming
.zoomable {
  z-index: 0;
  transition: transform .2s;
  &:hover {
    z-index: 900;
    transform: scale(2);
  }
}

// Navbar customization

.navbar {
  padding-bottom:0;
  box-shadow: none;
  border-bottom: 1px solid var(--global-divider-color);
  background-color: var(--global-bg-color);
  opacity: 0.9;
  flex-wrap: wrap !important;
  flex-direction: row !important;
}
.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);
  a:not(.active) {
    color: var(--global-text-color);
  }
  a:hover {
    color: var(--global-theme-color) !important;
  }
  .dropdown-divider {
    border-top: 1px solid var(--global-divider-color) !important;
  }
}
.dropdown-item {
  color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
      background-color: var(--global-bg-color);
    }
}
.navbar.navbar-expand-sm {
  flex-flow: flow wrap !important;
}
.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand {
    color: var(--global-text-color);
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-hover-color);
      }
  }
  .navbar-brand.social {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.7rem;
    a {
      i::before {
        color: var(--global-text-color);
        -webkit-transition: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

// News

.news table td {
  font-size: 1rem;
  color: var(--global-text-color);
}

.news table th {
  color: var(--global-text-color);
}

// Social (bottom)

.social {
  text-align: center;
  .contact-icons {
    font-size: 4rem;
    a {
      i::before {
        color: var(--global-text-color);
        -webkit-transition: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
  }
  a {
    color: var(--global-footer-link-color);
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}


// Blog

.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  li {
    border-bottom: 1px solid var(--global-divider-color);
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    .post-tags {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      padding-top: 0.25rem;
    }
    a {
      color: var(--global-text-color);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);
      &:hover {
        color: $black-color;
      }
    }
    &.active .page-link {
      color: $white-color;
      background-color: var(--global-theme-color);
      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}

// CV

.cv {
  color: var(--global-text-color) !important;
  .card {
    background-color: var(--global-card-color) !important;
    border-radius: 1.5rem;
    padding: .5rem .5rem .5rem .5rem;
    margin: .5rem -1.5rem .5rem -1.5rem;
    .card-title {
      color: var(--global-theme-color);
    }
  }
  .card-item {
    width: auto;
    margin-bottom: .5rem;
    .row {
      display: flex;
      align-items: center;
    }
  }

  table {
    color: var(--global-text-color) !important;
  }

  li {
    background-color: var(--global-card-color) !important;
    color: var(--global-text-color);
    margin-bottom: 1rem;
    .abbr {
      color: var(--global-badge-text-color) !important;
      height: 2rem;
      abbr {
        display: inline-block;
        background-color: var(--global-theme-color) !important;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

// Projects

.card-body {
  padding: .25rem !important;
}

.projects {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color) !important;
      }
    }
  }

  .card {
    background-color: var(--global-card-color);
    border-radius: 1.5rem;
    padding: .5rem .5rem .5rem .5rem;
    &:hover {
      background-color: var(--global-card-hover-color);
    }
    img {
      width: 100%;
    }
    .card-title {
      color: $grey-color;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }

  h2.category {
    color: var(--global-divider-color);
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}


// Publications

.publications {
  margin-top: 2rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        margin-right: 1rem !important;
        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }
      .title {
        font-weight: bolder;
      }
      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }
      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }
}

.timeline {
  margin: 0 auto;
  position: relative;
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--global-divider-color);
  border-radius: 3px;
  margin-left: -3px;
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

// Extra Markdown style (post Customization)
.post{
  // what it looks like on mobile devices
  .sidebar {
    position: inherit;
    width:100%;
    padding: 0rem;
    background-color: inherit;
  }
  .post-meta{
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
  }
  .post-tags{
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    padding-bottom: 1rem;
    a {
      color: var(--global-text-color-light);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
  .post-content{
        blockquote {
          border-left: 5px solid var(--global-theme-color);
          padding: 8px;
      }
}
}

.post-tags {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  padding-top: 0.25rem;
}
