/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-badge-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-unhover-color: #{$purple-color};
  --global-footer-bg-color: #{$grey-color};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-content-card-color: #DFDFDF;
  --global-card-color: #DFDFDF;
  --global-card-hover-color: #A0A0A0;
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0,0,0,.1);

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: .5rem;
    display : block;
  }
  .ghcard-light {
    display : block;
  }
  .customghcard {
    background-color: rgba(238, 238, 238, 1);
    border-color: rgba(42, 42, 43, 0.5);
    color: #000 !important;
  }
  .h6 {
    color: #2698BA !important;
  }
  .ghcard-dark {
    display : none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-badge-text-color: #{$grey-color};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$aqua-color};
  --global-hover-color: #{$cyan-color};
  --global-unhover-color: #{$aqua-color};
  --global-footer-bg-color: #{$grey-color};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-content-card-color:#{$grey-color-dark};
  --global-card-color: #252526;
  --global-card-hover-color: #2E2E2F;
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: .5rem;
    display : block;
  }
  .fa-moon {
    display : none;
  }
  .ghcard-light {
    display : none;
  }
  .customghcard {
    background-color: rgba(42, 42, 43, 1);
    border-color: rgba(238, 238, 238, 0.5);
    color: #A3A3A6 !important;
  }
  .h6 {
    color: #B3FFFF !important;
  }
  .ghcard-dark {
    display : block;
  }
}
