---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
    <p>{% if page.links %}{% include pagelinks.html %}{% endif %}</p>
  </header>
  <hr/>

  {% if page.toc %}
  <div class="content-card p-3 sidebar">
    <nav class="l-text figcaption">
    <h3>Contents</h3>
      {% for section in page.toc %}
      <div><a href="#{{ section.name | downcase | replace: ' ','-' }}">{{ section.name }}</a></div>
      {% if section.subsections %}
      <ul>
        {% for subsection in section.subsections %}
        <li><a href="#{{ subsection.name | downcase | replace: ' ','-' }}">{{ subsection.name }}</a></li>
        {% if subsection.subsubsections %}
        <ul>
          {% for subsubsections in subsection.subsubsections %}
          <li><a href="#{{ subsubsections.name | downcase | replace: ' ','-' }}">{{ subsubsections.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
  <hr/>
  {% endif %}

  <article>
    {{ content }}
  </article>

</div>
